.touxiang {
    width: 100px;
    height: 120px;
    position: absolute;
	left: 40px;
}

.touxiang span {
    margin-left: 6px
}

.xinxi {
    /* margin-left: 150px;
    margin-top: 0px; */
    position: absolute;
	left: 260px;
	top: 100px;
    width: 500px;
    height: 300px;
}

.biaoti {
    position: absolute;
	left: 500px;
    top: 300px;
}

.shuxin {
    position: absolute;
	left: 500px;
    top: 100px;
    width: 50px;
    height: 20px;
}